.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F8F8F8;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
 
  font-size: calc(10px + 2vmin);
  color: #171e29;
  padding: 0 6vw;
}

nav{
  background-color: #171e29;
  color: #fff;
  display: flex;
  justify-content: left;
  padding: 0 5vw;
  align-content: space-between;
}
nav h1{
  /* flex-grow: 1; */
}
nav ul{
  display: flex;
  flex-grow: 3;
  justify-content: right;
  align-items: center;
  align-content: space-between;
  gap: 2vw;
}
nav li{
  align-content: space-between;
  list-style: none;
}
nav ul a{
  color: #fff;
  text-decoration: none;
}

.Ad-top {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container{
  display: flex;
  flex-direction: column;
}

.row {
  justify-content:center;
  display: flex;
  flex-direction: row;
  padding: 2vh;
  flex-wrap: wrap;
  align-content: space-around;

  /* background-color: black;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vh; */
}
.card-1{
  flex-grow: 3;
  background-color: #fff;
  text-align: justify;
  margin: 2vh 0;
}
.card-2{
  flex-grow: 1;
  background-color: #fff;
  text-align: justify;
  margin: 2vh 0;
}

.result{
  flex: 1;
  background-color: #fff;
  text-align: justify;
  margin: 2vh 0;
  width: 30vh;
}

.content{
  width: 55vw;
  text-align: justify;
  margin: 2vh 0;
  padding: 2vh 2vw;
}
.content img{
  width: 30vw;
}

/* .button{
  justify-content: flex-start;
  padding: 1vh 2vw;
  margin: 2vh 0vh;
  margin-right: 1vw;
  font-weight: bold;
  cursor: pointer;
} */


/* CSS */
.button {
  margin: 2vh 0vh;
  margin-right: 1vw;
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  color: #171e29;
}

.button:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button {
    min-width: 170px;
  }
}





/* button-2 */
.button-2 {
  margin: 2vh 0vh;
  margin-right: 1vw;
  align-items: center;
  background-color: #fff;
  border: 2px solid #171e29;
  box-sizing: border-box;
  color: #171e29;
  cursor: pointer;
  display: inline-flex;
  fill: #171e29;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:focus {
  color: #171e29;
}

.button-2:hover {
  background-color: #171e29;
  border-color: #fff;
  fill: #171e29;
  color: #fff;
}

.button-2:active {
  background-color: #171e29;
  border-color: #fff;
  fill: #171e29;
  color: #fff;
}

@media (min-width: 768px) {
  .button {
    min-width: 170px;
  }
}

.Editor{
  display: flex;
}

#result{
  border-radius: 5px;
  padding: 1vh;
  color: #fff;
  display: none;
  flex-grow: 3;
  font: .95em andale mono,monotype,lucida console,monospace;
}


.App-link {
  color: #61dafb;

}


.cm-editor.cm-focused { outline: 2px solid cyan }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer{
  background-color: #171e29;
  color: #fff;
  padding: 5vh 5vw;
}

.footer a{
  color: #fff;
  text-decoration: none;
}

.footer a:hover{
  text-decoration: underline;
}
